[user]
	email = lachlan.jordan@protonmail.com
	name = Lachlan Jordan
[alias]
   cob = checkout -b
   co = checkout
   br = branch
   ci = commit
   st = status
   aa = add .
   cm = commit -m
   pl = pull
   dev = checkout develop
   master = checkout master
   dev-pull = !git dev && git pl
   master-pull = !git master && git pl
   D = branch -D
   dev-fresh = !git dev-pull && git cob
   master-fresh = !git master-pull && git cob
   rpush = !git push --set-upstream origin
   acm = !git aa && git cm
